 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* border: 1px solid grey; 
   / margin: 8px;
    padding: 8px; */
  } 
  
  
    
}

 body {
    background-color: #f5f5f5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 





.header {
    
    display: flex;
    justify-content: center;
}










.nav {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    background-color: rgb(12, 12, 12);
    padding: 20px;

}
.nav img {
    
    margin-left: 20px;
    margin-right: 20px;
    filter: invert(1);
}








.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}
.quote {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.mig {
    display: flex;
    justify-content: center;    
}







.portpic {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.portfolio {
    display: flex;
    justify-content: center;
    flex-flow: wrap; 
    text-align: center;
}
.portfolio a {
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;

}
.portfolio img:hover {
  transition: .5s;
  transform: scale(1.1); 
}









.om {
    display: flex;
    justify-content: center;
    flex-flow: wrap-reverse;
}
.om-tekst {
    border: 0px solid black;
    width: 650px;
    height: fit-content;
    word-wrap: break-word;
    word-spacing: 5px;
    margin-bottom: auto;
    margin-top: 50px;
}
.om img {
    margin-top: 50px;
}






.footer {
    background-color: black;
    display: flex;
    justify-content: space-between 20px; 
    justify-content: flex-start;
    margin-top: 100px;
    padding: 10px;
    width: 100%;
     
}
.footer p {
    margin-left: auto;
    color: gray;
}
.footer img {
    margin-left: 50px;
    filter: invert(1);
}



.info {
    display: flex;
    justify-content: center;
}


h1 {
        font-size: 84px;
        color: rgb(26, 26, 26);
        font-family: Arial, Helvetica, sans-serif;
    }
    
h2 {
    color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
    font-size: 27px;
    padding: 25px;
    font-weight: bold;
    text-align: left;
    
}    




p {
        color: rgb(26, 26, 26);
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Tablet */
    @media screen and (max-width: 768px) {
        .mig {
            width: 100%;
            }
        }

    /* Mobil */
    @media screen and (max-width: 600px) {
        .mig {
            width: 100%;
            }
        }