.grid-container {
    display: grid;
    grid: template columns 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
      ". header ."
      ". nav ."
      " main main main"
      " portfolio portfolio portfolio"
      "om-mig om-mig om-mig"
      "footer footer footer";
  }
  
  .header { grid-area: header;
}

  .nav { grid-area: nav; 
}
  
  .main { grid-area: main; 
}
  
  .portfolio { grid-area: portfolio; 
}
  
  .footer { grid-area: footer; 
}
  
  .om-mig { grid-area: om-mig; 
}
  

body {
    background-color: #2f3035;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 84px;
    color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}

.nav a {
    color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    padding: 25px;
    font-weight: bold;
    letter-spacing: 8px;
}