 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* border: 1px solid grey; 
   / margin: 8px;
    padding: 8px; */
  } 
  
  

 body {
    background-color: #f5f5f5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 





.header {
    
    display: flex;
    justify-content: center;
}










.nav {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    background-color: rgb(12, 12, 12);
    padding: 20px;

}
.nav img {
    
    margin-left: 20px;
    margin-right: 20px;
    filter: invert(1);
}











.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}
.quote {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.mig {
    display: flex;
    justify-content: center; 
}
.mig img {
    width: 50%;
}










.portpic {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 100px;
}


.portfolio {
    display: flex;
    justify-content: center;
    flex-flow: wrap; 
    text-align: center;
}
.portfolio a {
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;

}
.portfolio img:hover {
  transition: .5s;
  transform: scale(1.1); 
}

.portfolio h2 {
    text-align: center;
}











.om {
    display: flex;
    justify-content: center;
    flex-flow: wrap-reverse;
    margin-top: 200px;
}
.om-tekst {
    width: 650px;
    height: fit-content;
    word-wrap: break-word;
    word-spacing: 5px;
    margin-bottom: auto;
    margin-top: 50px;
        
    }    

.om img {
    margin-top: 50px;
}
.om-tekst h1 {
    font-size: 45pt;
    color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
    font-weight: bold;
    text-align: left;
}
.om-tekst h2 {
    color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
    font-size: 27px;
    padding: 5px;
    font-weight: bold;
    text-align: left;
}    
.om-tekst p {
    color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding: 5px;
    text-align: left;
}
 









.footer {
    background-color: rgb(12, 12, 12);
    display: flex;
    bottom: 0;
    justify-content: flex-start; 
    margin-top: 100px;
    padding: 10px;
    width: 100%;
     
}
.footer p {
    color: gray;
    display: flex;
    margin-top: auto;
    font-size: 10pt;
    padding: 0px;
}
.footer img {
    filter: invert(1);
    margin: 10px;
}
.icon {
    display: flex;
    justify-content: center;
}








/* om mig */

.infotekst h1 {
    margin-top: 100px;
    text-align: center;
    width: 100%;
}
.infotekst p {
    margin-left: 50px;
    width: 100%;
    text-align: center;
    width: 50%;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    
}
.info img {
    margin: auto;
   
}








/* kontakt */
.mail {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.mail a {
    text-align: center;
}
.mail h2 {
    text-align: center;
}
.mail img:hover {
    transition: .5s;
    transform: scale(1.1); 
  }


.kald {
    text-align: center;
    margin-top: 100px;
}
.kald h2 {
    text-align: center;
}


  








/*Animation og Illustration*/

.animationtekst h2{
    text-align: center;
    margin-top: 50px;
}

.animationer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.tegninger h2 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.tegninger {
    text-align: center;
   
}
.tegninger img {
    margin: 15px;
    border: rgb(12, 12, 12) 5px;
    border-style: solid;
    
}


.sprite {
	width: 500px;
	height: 500px;
	background: url('flip.png') 0 0 no-repeat;
	animation: play 1.7s steps(25) infinite;
}
@keyframes play {
	0%{background-position:0px;}
   100% { background-position: -12500px; }
}









/*foto video style*/


.fototekst {
    text-align: center;
}

.foto{
    text-align: center;
    margin: 4px;
}


.videotekst {
    display: flex;
    justify-content: center;
}

.video {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
}

.videobox {
    margin: 5px;
}



/*webdesign style*/

.logodesign{
    display: flex;
    justify-content: center;
    font-size: 30pt;
    margin-top: 100px;
}


.logos {
    text-align: center;
}
.logos img{
    margin: 10px;
   text-align: center;
}


.ui {
    display: flex;
    justify-content: center;
    font-size: 30pt;
    margin-top: 100px;
}

.dinside {
    text-align: center;
}
.dinside img {
    
    
    margin: 1px;
    text-align: center;
    border: rgb(26, 26, 26) 3px;
    border-style: solid;

}



/* fonts */

h1 {
        font-size: 45pt;
        color: rgb(26, 26, 26);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 25px;
    font-weight: bold;
    text-align: left;
    }
    
h2 {
    color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; 
    font-size: 27px;
    padding: 25px;
    font-weight: bold;
    text-align: left;
    
}    



p {
        color: rgb(26, 26, 26);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12pt;
        padding: 25px;
        text-align: left;
    }






 /* Tablet */
    @media screen and (max-width: 768px) {
        .mig img{

            width: 100%;
        }

        .portpic img {
            width: 90%;
            margin-top: 50px;
        }

        .om img {
            width: 50%;
        }

        .footer p{
            font-size: 5;
        }
        .kald img {
            width: 90%;
        }
        .kald h2{
            margin-bottom: 200px;
        }
        .mail img {
            width: 100%;
        }
        .om-tekst h1 {
            font-size: 30pt;
            color: rgb(26, 26, 26);
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            padding: 5px;
            font-weight: bold;
            text-align: left;
            padding-left: 10px;
        }
        .om-tekst h2 {
            color: rgb(26, 26, 26);
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none; 
            font-size: 20px;
            padding: 5px;
            font-weight: bold;
            text-align: left;
            padding-left: 10px;
        }    
        .om-tekst p {
            color: rgb(26, 26, 26);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10pt;
            padding: 5px;
            text-align: left;
            padding-left: 10px;
        }
        .om {
            margin-top: 100px;
       }
       .info img {
           width: 100%;
       }
        
       







    /* Mobil */
    @media screen and (max-width: 600px) {
        
        
        .nav {
            display: flex;
            flex-direction: row;
            justify-content: center; 
            background-color: rgb(12, 12, 12);
            padding: 20px;
        
        }
        .nav img {
            
            margin-left: 15px;
            margin-right: 15px;
            filter: invert(1);
        }

        .mig img {
            width: 100%;
            }

        .footer p{
            font-size: 5pt;
        }

        .nav img {
            margin-left: 0;
            margin-right: 0;
        }

        .videotekst img {
            width:80%;
            height: 80px;
            margin-top: 100px;

        }

        .fototekst img {
            width:70%;
            height: 100px;
        }

        .sprite {
            width: 300px;
            height: 300px;
            display: flex;
            justify-content: center;
        }
        
        .quote img {
            width: 90%;
        }

        .mail img {
            width: 70%;
        }
        .mail h2 {
            font-size: 20px;
        }

        .kald h2 {
            font-size: 20px;
        }
        .infotekst h1 {
            margin-top: 100px;
            text-align: center;
            width: 100%;
            font-size: 150%;
        }

        .infotekst p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12pt;
            text-align: left;
            width: 75%;
            padding: 10px;

        }
        
    
    }

    
} 

 